/* Font from Google fonts */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900');

html, 
body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #00171F;
    color: #FAFAFA;
}

body{
	position: relative;
  	margin: 0;

}

h1 {
  margin-left:55px;
}

#footer {
    position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
  	background-color: black;
    color: white;
  	text-align: center;
}



#main {
        position: absolute;
        top: 20%;
        bottom: 20%;
        right: 0px;
        left: 0px;
        }



#left {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        width: 60%;
        text-align: center;
    }

#divider {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 60%;
        width: 1px;
        background-color: darkgrey;
    }

#choice {
  margin-top:30px;
}


  
#tablediv {
        position: absolute;
        top: 20px;
        bottom: 0px;
        left: 61%;
        right: 0px;
}
#countdown {
        margin-top:30px;
        font-weight: bold;
        font-size:350%;

}
#takeabreak {
        font-weight: bold;
        font-size:350%;

}
#timers{
  display:none;
  align-content: center;
  text-align: center;
  margin-top:40px;

}
#table{
  display:none;
}

#breakstuff{
  margin-top:5px;
  display: none;
  position:relative;
  align-content:left;
  text-align: left;
  float:left;
  
}

#widgetmain{
  font-family: 'Source Sans Pro', sans-serif;
  float:left;
  text-align:left;
  overflow-y:auto;
  overflow-x:hidden;
  background-color:#transparent; 
  width:400px;
  margin-left:10px;
}

#reminder{
  margin-bottom: 5px;
  visibility: hidden;
  font-size:90%;
  text-align:center;
  
}